* {
  margin: 0;
  padding: 0;
  font-family: roboto;
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
}
body {
  background: #e5e5e5;
}

.sayt {
  max-width: 1440px;
  width: 100%;
  margin: auto;
  background-color: #ffffff;

  & > .header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 25px;
    & > img {
      margin: 10px;
    }

    & > ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      margin-top: 15px;
      margin-bottom: 15px;

      & > li {
        list-style: none;
        margin: 13px;

        & > a {
          text-decoration: none;
          font-family: "Roboto";
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          /* identical to box height, or 112% */

          color: #121212;
        }
        & > a:hover {
          color: #ff5634;
        }
      }

      & > :nth-child(6) {
        width: 162px;
        height: 56px;
        background: #ffffff;
        border: 1px solid #ededed;
        box-shadow: 0px 2px 6px rgba(16, 16, 16, 0.04);
        border-radius: 12px;
        font-weight: 400;
        font-size: 16px;
        height: 18px;
        /* identical to box height, or 112% */

        text-align: center;

        color: #121212;
        margin: 19px;
        margin-right: 0;
      }

      & > :nth-child(7) {
        background: #ff5634;
        border: 1px solid #ff5634;
        border-radius: 12px;
        font-weight: 400;
        font-size: 16px;
        /* identical to box height, or 112% */

        text-align: center;

        color: #ffffff;
        width: 114px;
        height: 56px;
        margin: 18px;
      }
    }
  }

  & > .fingertips {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    & > div {
      min-height: 920px;
      max-width: 650px;
      width: 100%;
    }

    & > :nth-child(1) {
      max-width: 650px;
      width: 100%;
      min-height: 550px;
      padding-left: 6%;
      box-sizing: border-box;
      margin-top: 20px;
      padding-right: 8%;

      & > h5 {
        font-weight: 400;
        font-size: 18px;
        /* identical to box height, or 111% */

        letter-spacing: 1.08px;
        text-transform: uppercase;

        color: #ff5634;
      }

      & > h2 {
        font-weight: 700;
        font-size: 62px;

        /* or 116% */
        margin-top: 28px;
        color: #121212;
      }

      & > p {
        font-weight: 400;
        font-size: 12px;
        /* or 250% */

        color: #656565;
        margin-top: 16px;
      }

      & > :nth-child(4) {
        width: 247px;
        height: 73px;
        border: none;
        border-radius: 16px;
        background: #ff5634;
        font-weight: 400;
        font-size: 18px;
        margin: 15px;
        /* identical to box height, or 111% */

        text-align: center;

        color: #ffffff;
      }

      & > :nth-child(5) {
        width: 205px;
        height: 73px;
        background: #ffffff;
        border: 1px solid #ededed;
        box-shadow: 0px 2px 6px rgba(16, 16, 16, 0.04);
        border-radius: 16px;
        font-weight: 400;
        font-size: 18px;
        text-align: center;

        color: #121212;
        margin: 15px;
      }

      & > div {
        max-width: 586px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        border-top: 1px solid #cacaca;
        margin-top: 60px;

        & > div {
          text-align: center;
          margin-bottom: 15px;
          & > h2 {
            font-weight: 700;
            font-size: 30px;
            margin-top: 60px;

            /* or 118% */

            color: #121212;

            & > font {
              color: #ff5634;
            }
          }
          & > h5 {
            font-weight: 400;
            font-size: 18px;

            /* identical to box height, or 111% */

            color: #656565;
          }
        }
      }
    }

    & > :nth-child(2) {
      background: url(../images/food1.png) no-repeat right center, white left;

      display: flex;
      align-items: center;

      & > img {
        max-width: 356px;
        width: 99%;
      }
    }
  }

  & > .restaurant {
    margin-top: 120px;
    text-align: center;
    padding-bottom: 80px;
    & > h5 {
      font-weight: 400;
      font-size: 20px;
      /* identical to box height, or 110% */

      text-align: center;
      margin-bottom: 58px;
      color: #656565;
    }

    & > div {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;

      & > img {
        margin-top: 15px;
      }
    }
  }

  & > .system {
    max-width: 1222px;
    width: 98%;
    border-top: 1px solid #cacaca;
    border-bottom: 1px solid #cacaca;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;

    & > h5 {
      font-weight: 400;
      font-size: 18px;
      /* identical to box height, or 111% */

      text-align: center;
      letter-spacing: 1.08px;
      text-transform: uppercase;

      color: #ff5634;
    }

    & > h2 {
      max-width: 520px;
      width: 95%;
      margin: auto;

      font-weight: 700;
      font-size: 44px;
      /* identical to box height, or 123% */

      text-align: center;

      color: #121212;
    }
    & > p {
      font-weight: 400;
      font-size: 12px;
      /* identical to box height, or 250% */

      text-align: center;

      color: #656565;
      margin-top: 22px;
    }

    & > .system__cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;

      & > .system__cards__card {
        max-width: 320px;
        width: 98%;
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-top: 80px;

        & > h2 {
          font-weight: 400;
          font-size: 28px;
          /* or 143% */

          text-align: center;

          color: #121212;
        }
        & > p {
          font-weight: 400;
          font-size: 18px;
          /* or 167% */

          text-align: center;

          color: #656565;
        }
      }
    }
    & > button {
      margin-top: 30px;
    }

    & > :nth-child(5) {
      background: #ff5634;
      border: 1px solid #ff5634;
      border-radius: 16px;
      font-weight: 700;
      font-size: 18px;
      /* identical to box height, or 111% */
      width: 247px;
      height: 73px;
      text-align: center;
      margin: 13px;
      color: #ffffff;
      margin-top: 50px;
    }

    & > :nth-child(6) {
      background: #ffffff;
      border: 1px solid #ededed;
      box-shadow: 0px 2px 6px rgba(16, 16, 16, 0.04);
      border-radius: 16px;
      font-weight: 400;
      font-size: 18px;
      /* identical to box height, or 111% */

      text-align: center;
      margin: 13px;
      color: #121212;
      margin-top: 30px;
      width: 205px;
      height: 73px;
    }
  }

  & > .great {
    text-align: center;
    padding-bottom: 100px;
    & > .great__cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      // card1
      & > :nth-child(1) {
        text-align: left;
        max-width: 611px;
        width: 95%;
        margin-top: 100px;

        & > h2 {
          font-weight: 700;
          font-size: 44px;
          /* or 123% */
          max-width: 479px;
          color: #121212;
        }

        & > p {
          font-weight: 400;
          font-size: 12px;
          /* or 250% */

          color: #656565;
        }

        & > div {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-evenly;

          & > div {
            max-width: 234px;
            margin-top: 40px;
            margin-bottom: 20px;

            & > h3 {
              font-weight: 400;
              font-size: 22px;
              /* identical to box height, or 127% */

              color: #121212;
              margin-top: 25px;
            }
            & > p {
              font-weight: 400;
              font-size: 14px;
              margin-top: 14px;
              /* identical to box height, or 214% */

              color: #656565;
            }
          }
        }
      }

      // card2
      & > :nth-child(2) {
        display: flex;
        align-items: center;
        max-width: 611px;
        width: 95%;
        overflow: hidden;
        margin-top: 80px;

        & > :nth-child(1) {
          margin-right: -150px;
          max-width: 282px;
          width: 100%;
        }

        & > :nth-child(2) {
          max-width: 506px;
        }
      }
    }

    & > button {
      margin: auto;
      margin: 13px;
      height: 73px;
    }

    & > :nth-child(2) {
      background: #ff5634;
      border: 1px solid #ff5634;
      border-radius: 16px;
      font-weight: 700;
      font-size: 18px;
      /* identical to box height, or 111% */

      text-align: center;
      width: 247px;
      color: #ffffff;
      margin-top: 80px;
    }
    & > :nth-child(3) {
      font-weight: 400;
      font-size: 18px;
      /* identical to box height, or 111% */

      text-align: center;

      color: #121212;
      background: #ffffff;
      border: 1px solid #ededed;
      box-shadow: 0px 2px 6px rgba(16, 16, 16, 0.04);
      border-radius: 16px;
      width: 205px;
      margin-top: 80px;
    }
  }

  & > .delicious {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    min-height: 854px;
    background: #121212;

    & > :nth-child(1) {
      min-height: 500px;
      max-width: 650px;
      width: 100%;
      color: #ffffff;
      background: #121212;
      display: flex;
      flex-direction: column;

      justify-content: center;
      & > div {
        max-width: 563px;
        width: 90%;
        margin: auto;
        & > h2 {
          font-weight: 700;
          font-size: 56px;

          /* or 118% */
        }
        & > p {
          font-weight: 400;
          font-size: 12px;
        }

        & > button {
          font-weight: 400;
          font-size: 18px;
          /* identical to box height, or 111% */

          text-align: center;
          margin-top: 27px;
          color: #ffffff;
          background: #ff5634;
          border: 1px solid #ff5634;
          border-radius: 16px;
          width: 206px;
          height: 73px;
        }
      }
    }

    & > :nth-child(2) {
      max-width: 650px;
      min-height: 500px;
      width: 100%;
      background: url(../images/delicious.png) center center / cover, #121212;
    }
  }

  & > .features {
    max-width: 1216px;
    margin: auto;
    text-align: center;
    padding-top: 80px;

    & > h5 {
      font-weight: 400;
      font-size: 18px;
      /* identical to box height, or 111% */

      text-align: center;
      letter-spacing: 1.08px;
      text-transform: uppercase;

      color: #ff5634;
    }

    & > h2 {
      margin: auto;
      max-width: 640px;
      margin-top: 7px;
      font-weight: 700;
      font-size: 44px;
      /* identical to box height, or 123% */

      text-align: center;

      color: #121212;
    }

    & > p {
      font-weight: 400;
      font-size: 12px;
      /* identical to box height, or 250% */

      text-align: center;

      color: #656565;
    }

    & > .features__cards {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;

      & > .features__cards__card {
        max-width: 344px;
        width: 95%;
        margin-top: 30px;
        margin-bottom: 30px;

        & > h3 {
          font-weight: 400;
          font-size: 28px;
          /* or 143% */

          text-align: center;

          color: #121212;
          margin-top: 15px;
        }

        & > p {
          font-weight: 400;
          font-size: 18px;

          text-align: center;

          color: #656565;
          margin-top: 14px;
        }
      }
    }

    & > button {
      margin: 13px;
    }

    & > :nth-child(5) {
      width: 247px;
      height: 73px;
      border: none;
      color: #ffffff;
      background-color: #ff5634;
      border-radius: 16px;
      font-size: 18px;
    }

    & > :nth-child(6) {
      background: #ffffff;
      border: 1px solid #ededed;
      box-shadow: 0px 2px 6px rgba(16, 16, 16, 0.04);
      border-radius: 16px;
      height: 73px;
      width: 205px;
      font-size: 18px;
    }
  }

  & > .hassle {
    padding-top: 150px;
    padding-bottom: 100px;

    & > .hassle__block {
      width: 98%;
      margin: auto;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-evenly;

      & > .hassle__block__card {
        max-width: 600px;
        width: 95%;
        margin: 5px;
        margin-top: 100px;

        & > img {
          max-width: 600px;
          width: 100%;
        }

        h3 {
          font-weight: 700;
          font-size: 44px;
          /* or 123% */

          color: #121212;
        }

        & > p {
          font-weight: 400;
          font-size: 18px;
          /* or 167% */

          color: #656565;
        }

        & > div {
          margin-top: 30px;
          display: flex;
          align-items: center;

          & > h4 {
            font-weight: 400;
            font-size: 24px;
            /* identical to box height, or 142% */

            color: #121212;
          }
          & > p {
            font-weight: 400;
            font-size: 13px;
            /* identical to box height, or 231% */
            margin-top: 14px;
            color: #656565;
          }
        }
      }
    }

    & > :nth-child(2) {
      flex-direction: row-reverse;
    }
  }

  & > .clients {
    padding-top: 100px;
    padding-bottom: 100px;
    background: #fafafa;

    & > :nth-child(1) {
      width: 95%;
      margin: auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: flex-end;

      & > :nth-child(1) {
        max-width: 465px;
        & > h3 {
          font-weight: 400;
          font-size: 44px;
          /* identical to box height, or 123% */

          color: #121212;
        }

        & > p {
          margin-top: 22px;
          font-weight: 400;
          font-size: 12px;

          /* or 250% */

          color: #656565;
        }
      }

      & > :nth-child(2) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        & > :nth-child(1) {
          width: 247px;
          height: 73px;
          margin: 15px;
          background-color: #ff5634;
          border: none;
          border-radius: 16px;
          color: #ffffff;
          font-size: 18px;
        }

        & > :nth-child(2) {
          border: 1px solid #cacaca;
          width: 205px;
          margin: 15px;
          height: 73px;
          border-radius: 16px;
          font-size: 18px;
          color: #121212;
        }
      }
    }

    & > .clients__cards {
      padding-top: 30px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      & > .clients__cards__card {
        max-width: 389px;
        width: 95%;
        margin: 14px;
        box-sizing: border-box;
        padding: 41px;
        padding-left: 31px;
        background: #ffffff;
        border: 1px solid #ededed;
        box-shadow: 0px 2px 12px rgba(16, 16, 16, 0.08);
        border-radius: 24px;

        & > :nth-child(1) {
          display: flex;
          align-items: center;
          justify-content: space-between;

          & > :nth-child(1) {
            display: flex;
            align-items: center;

            & > img {
              margin-right: 10px;
            }
            & > :nth-child(2) {
              & > h4 {
                font-weight: 400;
                font-size: 18px;
                /* identical to box height, or 111% */

                color: #121212;
              }

              & > h5 {
                font-weight: 400;
                font-size: 16px;
                /* identical to box height, or 112% */

                color: #ff5634;
                margin-top: 6px;
              }
            }
          }

          & > :nth-child(2) {
            background: #eef8ff;
            border-radius: 8px;
            width: 36px;
            height: 36px;
          }
        }
        & > p {
          font-weight: 400;
          font-size: 18px;
          /* or 167% */
          margin-top: 30px;

          color: #656565;
        }
      }
    }
  }
  & > .tel2 {
    color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    min-height: 680px;
    background-image: repeating-linear-gradient(
      180deg,
      #fafafa 0px 130px,
      #121212 130px 5000px
    );

    & > :nth-child(1) {
      max-width: 541px;

      & > h1 {
        font-weight: 400;
        font-size: 56px;
        /* or 118% */

        color: #ffffff;
      }

      & > p {
        font-weight: 400;
        font-size: 12px;
        /* or 250% */
        margin-top: 20px;
        color: #ffffff;
      }

      & > button {
        margin-top: 33px;
        width: 247px;
        height: 73px;
        border: none;
        color: #ffffff;
        background-color: #ff5634;
        border-radius: 16px;
        font-size: 18px;
      }
    }
    & > .tel2__card {
      max-width: 550px;
      width: 95%;
      background-color: transparent;
      margin: 10px;
      display: flex;

      flex-direction: column;
      justify-content: center;
    }
  }

  & > .app {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    & > div {
      margin-top: 70px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      & > button {
        background: #ff5634;
        border: 1px solid #ff5634;
        border-radius: 14px;
        color: #ffffff;

        font-size: 16px;
        width: 251px;
        height: 64px;
        margin: 13px;
      }

      & > :nth-child(1) {
        width: 208px;
      }
    }

    & > :nth-child(1) {
      max-width: 439px;
      width: 95%;

      & > p {
        font-weight: 400;
        font-size: 12px;

        /* or 250% */

        color: #656565;
      }
    }
  }

  & > .footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    & > div {
      margin-top: 100px;
      & > h3 {
        font-weight: 400;
        font-size: 20px;
        margin-bottom: 39px;
        /* identical to box height, or 110% */

        color: #121212;
      }
    }

    & > :nth-child(1) {
      display: flex;
      flex-direction: column;

      & > div {
        display: flex;

        & > div {
          display: flex;
          flex-direction: column;

          & > a {
            font-weight: 400;
            font-size: 18px;

            /* identical to box height, or 111% */

            color: #656565;
            text-decoration: none;
            margin-bottom: 17px;
          }

          & > a:hover {
            color: #ff5634;
            text-shadow: 0 0 5px;
          }
        }
      }
    }

    & > :nth-child(2) {
      & > div {
        display: flex;
        flex-direction: column;

        & > a {
          font-weight: 400;
          font-size: 18px;

          /* identical to box height, or 111% */

          color: #656565;
          text-decoration: none;
          margin-bottom: 17px;
        }

        & > a:hover {
          color: #ff5634;
          text-shadow: 0 0 5px;
        }
      }
    }

    & > :nth-child(3) {
      max-width: 500px;
      width: 95%;
      & > h3 {
        margin-left: 5px;
      }

      & > div {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

        & > div {
          width: 240px;
          display: flex;
          align-items: center;
          margin: 5px;

          & > h4 {
            font-weight: 400;
            font-size: 18px;

            /* identical to box height, or 133% */

            color: #121212;
            margin-left: 18px;
          }
        }
      }
    }
  }
  & > .chiziq {
    max-width: 1222px;
    margin: auto;
    border-top: 1px solid #cacaca;

    margin-top: 77px;
  }

  & > .copyright {
    padding-top: 32px;
    text-align: center;
    padding-bottom: 32px;

    font-weight: 400;
    font-size: 18px;

    /* identical to box height, or 167% */
    text-align: center;

    color: #656565;

    & > font {
      color: #ff5634;
    }
  }
}
